@import 'bourbon/bourbon';


// ================ VARIABLES

$blue: #244395;
$red: #ff1719;
$backgroud-grey: rgba(40,44,42,.05);
$tab-grey: #dee3e1;
$tab-grey-active: #e7ecea;
$text-grey: #777a7e;


.admin-container {
    background-color: $backgroud-grey;

    textarea {
        resize: vertical;
    }

    .nav {
        margin: 20px 0 0 0;

        li {
            display: inline-block;

            width: 25%;
            padding-top: 20px;

            border: 1px solid rgba(40,44,42,.1);
            background-color: $tab-grey;
            &.active {
                position: relative;

                border-bottom-color: $tab-grey-active;
                border-radius: 0;
                background-color: $tab-grey-active;

                &::after {
                    position: absolute;
                    top: -1px;

                    width: 100%;
                    height: 5px;

                    content: '';

                    background-color: $blue;
                }
                a {
                    color: $blue;
                    background-color: inherit;
                }
            }

            &:not(:last-child) {
                border-right: none;
            }

            &:hover {
                cursor: pointer;
                a {
                    color: $blue;
                }
            }

            a {
                font-weight: bold;

                text-align: center;
                text-transform: uppercase;

                color: $text-grey;

                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    .admin-section {
        padding: 10px;

        border-right: 1px solid rgba(40,44,42,.1);
        border-bottom: 1px solid rgba(40,44,42,.1);
        border-left: 1px solid rgba(40,44,42,.1);
        background-color: $tab-grey-active;

        input , textarea {
            border: none;
            border-radius: 0px;
            background-color: $tab-grey;
            box-shadow: inset 0 -2px 0 $text-grey;

            &:focus {
                box-shadow: inset 0 -4px 0 $blue;
                outline: none;
            }
        }

        .btn {
            margin-right: 3px;
        }
    }
}

.offres-list {
    border-right: 1px solid #d9d9da;

    ul {
        margin: 0;
        padding: 0;

        list-style: none;

        li {
            margin: 0;
            padding: 5px 0 5px 5px;

            @include transition(background-color .4s ease);

            &:hover {
                cursor: pointer;

                background-color: lighten(#a0a0a0, 20%);
            }

            &.active {
                background-color: lighten(#a0a0a0, 10%);
            }
        }
    }
}
