@import 'bourbon/bourbon';


// ================ VARIABLES

$blue: #244395;
$red: #ff1719;
$backgroud-grey: rgba(40,44,42,.05);
$tab-grey: #dee3e1;
$active-pane-color: #fcfcfc;
$text-grey: #777a7e;


.admin-container {
    background-color: $backgroud-grey;

    textarea {
        resize: vertical;
    }

    .nav {
        margin: 20px 0 0 0;

        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);


        li {
            display: inline-block;

            width: 25%;
            padding-top: 20px;

            border: 1px solid rgba(40,44,42,.1);
            background-color: $tab-grey;
            &.active {
                position: relative;

                border-bottom-color: $active-pane-color;
                border-radius: 0;
                background-color: $active-pane-color;

                &::after {
                    position: absolute;
                    top: -1px;

                    width: 100%;
                    height: 5px;

                    content: '';

                    background-color: $blue;
                }
                a {
                    color: $blue;
                    background-color: inherit;
                }
            }

            &:not(:last-child) {
                border-right: none;
            }

            &:hover {
                cursor: pointer;
                a {
                    color: $blue;

                    @include transition(color .3s ease);
                }
            }

            a {
                font-weight: bold;

                text-align: center;
                text-transform: uppercase;

                color: $text-grey;

                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    .admin-section {
        padding: 10px;

        border-right: 1px solid rgba(40,44,42,.1);
        border-bottom: 1px solid rgba(40,44,42,.1);
        border-left: 1px solid rgba(40,44,42,.1);
        background-color: $active-pane-color;
        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);

        .form-group {
            position: relative;

            margin: 20px 0;


            input,
            textarea {
                border: none;
                border-radius: 0;
                background-color: $active-pane-color;
                box-shadow: inset 0 -1px 0 $text-grey;

                @include transition(all .5s ease);

                & ~ label {
                    position: absolute;
                    top: -1.5em;

                    padding-left: 12px;

                    pointer-events: none;

                    color: $text-grey;

                    @include transition(all .5s ease);
                }

                &:focus {
                    outline: none;
                    box-shadow: inset 0 -3px 0 $blue;
                }

                &:focus ~ label,
                &:active ~ label {
                    color: $blue;
                }
            }


            .btn {
                margin-right: 3px;
            }
        }
        .logo {
            max-width: 100%;
            max-height: 150px;
            width: auto;
            padding: 10px;
            display: block;
            margin: auto;
        }
    }
}

.offres-list {
    border-right: 1px solid #d9d9da;

    ul {
        margin: 0;
        padding: 0;

        list-style: none;

        li {
            margin: 0;
            padding: 5px 0 5px 5px;

            @include transition(background-color .4s ease);

            &:hover {
                cursor: pointer;

                background-color: lighten(#a0a0a0, 20%);
            }

            &.active {
                background-color: lighten(#a0a0a0, 10%);
            }
        }
    }
}
