

@import 'bourbon/bourbon';

$blue: #244395;

@mixin vertical-align {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}



.container-fluid {
    section {
        &:nth-child(even) {
            height: 120px;

            background-color: #f5f6f7;
            box-shadow: inset 0 10px 40px -10px rgba(0, 0, 0, .05),
            inset 0 -10px 40px -10px rgba(0, 0, 0, .05);
        }

        &.liens {
            ul {
                width: 400px;
                margin: auto;

                list-style: none;

                text-decoration: none;

                @include vertical-align();

                li {
                    position: relative;

                    display: inline-block;

                    &.don {
                        position: absolute;
                        left: 0;

                        @include transform(translateX(-50%));
                    }

                    &.benevole {
                        position: absolute;
                        right: 0;

                        @include transform(translateX(50%));
                    }

                    .pill {
                        font-weight: bold;

                        padding: 10px 20px;

                        color: $blue;
                        border: 2px solid  $blue;
                        border-radius: 27px;

                        @include transform(translateY(-50%));
                        @include transition(all .1s ease);



                        &:hover {
                            padding: 15px 30px;

                            color: #fff;
                            background-color: $blue;

                            @include transition(all .1s ease);
                        }
                    }
                }
            }
        }

        &.compteur-succes {
            div {
                @include vertical-align();
                p {
                    margin: auto;
                    text-align: center;
                }
            }

        }

        h2 {
            font-size: 2.3em;
            font-weight: 900;

            overflow: hidden;

            text-align: center;
            text-transform: uppercase;

            color: #444;
            // les lignes de chaques coté du texte
            &::after,
            &::before {
                position: relative;

                display: inline-block;

                width: 50%;
                height: 1px;

                content: '';
                vertical-align: middle;

                background-color: #444;
            }

            &::before {
                right: .5em;

                margin-left: -50%;
            }

            &::after {
                left: .5em;

                margin-right: -50%;
            }

            span {
                font-weight: 500;
            }
        }
        .carousel-temoignages {
            margin: 0 auto;

            @include vertical-align();
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .image-carousel {
        overflow: hidden;

        width: 100%;
        max-height: 400px;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}
