@import 'bourbon/bourbon';

// ================ VARIABLES

$blue: #244395;
$red: #ff1719;


// ================================== HEADER ==================================
// Si on change la taille du header il faut penser a changer le margin-top dans .header-spacer
// ============================================================================


.menu-button {
    font-size: 0;

    position: absolute;
    top: 50%;
    right: 10px;

    display: block;
    overflow: hidden;

    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: background .3s;
    text-indent: -9999px;

    border: none;
    border-radius: none;
    box-shadow: none;

    appearance: none;
    background-color: transparent;

    @include transform(translateY(-50%));

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 18px;
        left: 4px;
        right: 4px;
        height: 4px;
        background-color: #FFF;

        &::after,
        &::before {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            left: 0;
            content: '';
            background-color: #FFF;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }

    @media (min-width: 544px) {
        display: none;
    }
}


header {
    height: 150px;
    margin: 10px 0;
    .row {
        height: 150px;
        .logo-spf {
            max-width: 100%;
            height: auto;
            max-height: 150px;
            padding: 10px;
        }
        .logo-entremploi {
            max-width: 100%;
            height: auto;
            max-height: 150px;
            padding: 10px;
        }
    }
}

.affix {
    position: fixed;
    top: 0;
}

.navbar-inverse {
    z-index: 999;

    width: 100%;
    height: 50px;
    margin: 0;

    border: none;
    border-radius: 0;
    background-color: $blue;
    .container,
    .container-fluid {
        position: relative;

        height: 100%;

        opacity: .9;
        .navbar-brand {
            position: absolute;
            top: 50%;

            transform: translate3d(0, -50%, 0);

            color: #fff;
        }
        .nav {
            position: absolute;
            top: 50%;
            right: 0;

            margin: 0;

            transform: translate3d(0, -50%, 0);

            @media (max-width: 33.9em) {
                display: none;
            }
            li {
                padding-left: 2px;
                a {
                    line-height: 10px;

                    color: #fff;
                    &:hover {
                        transition: border-radius .1s;
                        transition: background-color .3s;

                        border-radius: 6px;
                        background-color: darken($blue, 10%);
                    }
                }
            }
        }
    }
}


// ================ GLOBAL

html {
    font-family: 'Roboto', sans-serif;
    font-size: calc(.75em + 1vmin);
}

p {
    font-size: 1rem;
}

a.anchor {
    position: relative;
    top: -50px;

    display: block;
    visibility: hidden;
}

.container-fluid {
    height: auto;
    margin: 0;
    padding: 0;

    border-radius: 0;
}

.header-spacer {
    margin: 0;
    margin-top: 50px;
}

.filler {
    height: 200px;
}



// ================= FOOTER

.page-footer {
    margin: 0;

    background: #414040;
    .container {
        min-height: 25em;
        padding-top: 20px;
        padding-bottom: 2em;

        color: #fff;
        background: url('/images/footer-logo-spf.png') no-repeat scroll left top / 20% auto;
        background-position-y: 20px;
    }
    .infos {
        height: 300px;
    }
    .credits {
        padding-top: 10px;
    }
    h3 {
        color: #fff;
    }
    ul {
        list-style: outside none none;
        a {
            color: #a0a0a0;
            &:hover {
                color: #fff;
            }
        }
    }
}
