
// ================================== HEADER ==================================
// Si on change la taille du header il faut penser a changer le margin-top dans .header-spacer
// ============================================================================


#menu-button {
    display: none;



    &:checked ~ .nav {
        width: 50vw;
    }
}

.menu-icon {
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;

    display: block;

    width: 30px;
    height: 40px;

    cursor: pointer;

    span {
        position: relative;
        top: 18px;

        display: block;

        height: 4px;

        background-color: #fff;

        &::after,
        &::before {
            position: absolute;

            display: block;

            width: 100%;
            height: 4px;

            content: '';

            background-color: #fff;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}


header {
    height: 150px;
    margin: 10px 0;
    .row {
        height: 150px;
        .logo-spf {
            max-width: 100%;
            height: auto;
            max-height: 150px;
            padding: 10px;
        }
        .logo-entremploi {
            max-width: 100%;
            height: auto;
            max-height: 150px;
            padding: 10px;
        }
    }
}

.affix {
    position: fixed;
    top: 0;
}

.navbar-inverse {
    z-index: 999;

    width: 100%;
    height: 50px;
    margin: 0;

    border: none;
    border-radius: 0;
    background-color: $blue;
    .container,
    .container-fluid {
        position: relative;

        height: 100%;

        opacity: .9;
        .navbar-brand {
            position: absolute;
            top: 50%;

            transform: translate3d(0, -50%, 0);

            color: #fff;
        }
        .nav {
            position: absolute;
            top: 50%;
            right: 0;

            margin: 0;

            transform: translate3d(0, -50%, 0);

            @media (max-width: 33.9em) {
                display: block;

                position: fixed;

                width: 0;
                height: 100vh;
                background-color: $blue;
            }
            li {
                padding-left: 2px;
                a {
                    line-height: 10px;

                    color: #fff;
                    &:hover {
                        transition: border-radius .1s;
                        transition: background-color .3s;

                        border-radius: 6px;
                        background-color: darken($blue, 10%);
                    }
                }
            }
        }
    }
}


// ================ GLOBAL

html {
    font-family: 'Roboto', sans-serif;
    font-size: calc(.75em + 1vmin);
}

p {
    font-size: 1rem;
}

a.anchor {
    position: relative;
    top: -50px;

    display: block;
    visibility: hidden;
}

.container-fluid {
    height: auto;
    margin: 0;
    padding: 0;

    border-radius: 0;
}

.header-spacer {
    margin: 0;
    margin-top: 50px;
}

.filler {
    height: 200px;
}


.form-group {
    position: relative;

    margin: 20px 0;

    input,
    select {
        border: none;
        border-radius: 0;
        background-color: $active-pane-color;
        box-shadow: inset 0 -1px 0 $text-grey;

        @include transition(all .5s ease);

        & ~ label {
            position: absolute;
            top: -1.2em;

            padding-left: 12px;

            pointer-events: none;

            color: $text-grey;

            @include transition(all .5s ease);
        }

        &:focus:not(select) {
            outline: none;
            box-shadow: inset 0 -3px 0 $blue;
        }

        &:focus ~ label,
        &:active ~ label {
            color: $blue;
        }
    }

    textarea {
        @extend input, select;
        box-shadow: inset 1px 0 0 $text-grey;

        &:focus:not(select) {
            outline: none;
            box-shadow: inset 3px 0 0 $blue;
        }

    }


    .btn {
        margin-right: 3px;
    }
}



// ================= FOOTER

.page-footer {
    margin: 0;

    background: #414040;
    .container {
        min-height: 25em;
        padding-top: 20px;
        padding-bottom: 2em;

        color: #fff;
        background: url('/images/footer-logo-spf.png') no-repeat scroll left top / 20% auto;
        background-position-y: 20px;
    }
    .infos {
        height: 300px;
    }
    .credits {
        padding-top: 10px;
    }
    h3 {
        color: #fff;
    }
    ul {
        list-style: outside none none;
        a {
            color: #a0a0a0;
            &:hover {
                color: #fff;
            }
        }
    }
}
