<div class="admin-container">
    <div class="container">
        <tabs>
            <pane class="admin-section" title="Page accueil" ng-if="accesLevel >= 2">
                <div class="row">
                    <h2>Editer un article</h2>
                    <div ng-if="EAalert && !EAsuccess" class="alert alert-danger">{{ EAalert }}</div>
                    <div ng-if="EAsuccess && !EAalert" class="alert alert-success">{{ EAsuccess }}</div>
                    <div class="col-md-3 item-list">
                        <ul>
                            <li class="offre-item" ng-repeat="article in MainArticlesSorted" ng-click="activateArticle(MainArticlesSorted.indexOf(article))"  ng-class="{active : MainArticlesSorted.indexOf(article) === curArticleIndex}">{{article.titre}}</li>
                        </ul>
                    </div>
                    <div class="col-md-9 edit-article">
                        <form ng-submit="editArticle()">
                            <div class="form-group col-md-10">
                                <input class="form-control" ng-model="MainArticlesSorted[curArticleIndex].titre" type="text" id="titre" required>
                                <label for="titre">Titre</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input class="form-control" ng-model="MainArticlesSorted[curArticleIndex].priority" type="text" name="priority" id="position">
                                <label for="position">Position:</label>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" ng-model="MainArticlesSorted[curArticleIndex].contenu" type="text" rows="5" name="contenu" id="article" required></textarea>
                                <label for="article">Article</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" ng-model="MainArticlesSorted[curArticleIndex].media" id="media">
                                    <option>Aucun</option>
                                    <option>Photo</option>
                                    <option>Vidéo</option>
                                </select>
                                <label for="media">Media</label>
                            </div>
                            <div class="form-group col-md-10" ng-if="MainArticlesSorted[curArticleIndex].media=='Photo'">
                                <input class="col-md-4" type="file" accept="image/*" image="MainArticlesSorted[curArticleIndex].image"
                                resize-max-height="300"
                                resize-max-width="250"
                                resize-quality="0.7" />
                                <img class="pull-right" ng-show="MainArticlesSorted[curArticleIndex].image" ng-src="{{MainArticlesSorted[curArticleIndex].image.resized.dataURL || MainArticlesSorted[curArticleIndex].image}}" />
                            </div>
                            <div class="form-group col-md-10" ng-if="MainArticlesSorted[curArticleIndex].media=='Vidéo'">
                                <input class="form-control" ng-model="MainArticlesSorted[curArticleIndex].lienMedia" type="text" name="lienYT" id="youtube-video">
                                <label for="youtube-video">Lien de la video youtube</label>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success btn-sm pull-right">Modifier</button>
                                <button type="button" ng-click="infoArticle()" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
                                <button type="button" ng-click="deleteArticle();" class="btn btn-danger btn-sm pull-left">Supprimer</button>
                                <button type="reset" ng-click="reload();" class="btn btn-warning btn-sm pull-left">Reinitialiser</button>
                            </div>
                            <hr/>
                        </form>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h2>Ajouter un article</h2>
                    <div ng-if="AAalert && !AAsuccess" class="alert alert-danger">{{ AAalert }}</div>
                    <div ng-if="AAsuccess && !AAalert" class="alert alert-success">{{ AAsuccess }}</div>
                    <form ng-submit="addArticle()">
                        <div class="form-group col-md-10">
                            <input class="form-control" ng-model="newArticle.titre" type="text" name="titre" id="titre" required>
                            <label for="titre">Titre</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input class="form-control" ng-model="newArticle.priority" type="text" name="priority" id="position" required>
                            <label for="position">Position</label>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" ng-model="newArticle.contenu" type="text" rows="5" name="contenu" id="article" required></textarea>
                            <label for="article">Article</label>
                        </div>
                        <div class="form-group col-md-2">
                            <select class="form-control" ng-model="newArticle.media" id="media">
                                <option>Aucun</option>
                                <option>Photo</option>
                                <option>Vidéo</option>
                            </select>
                            <label for="media">Media</label>
                        </div>
                        <div class="form-group col-md-10" ng-if="newArticle.media=='Photo'">
                            <input class="col-md-4" type="file" accept="image/*" image="newArticle.image"
                            resize-max-height="300"
                            resize-max-width="250"
                            resize-quality="0.7" />
                            <img ng-show="newArticle.image" ng-src="{{newArticle.image.resized.dataURL}}" />
                        </div>
                        <div class="form-group col-md-10" ng-if="newArticle.media=='Vidéo'">
                            <input class="form-control" ng-model="newArticle.lienMedia" type="text" name="lienYT" id="youtube-video">
                            <label for="youtube-video">Lien de la video youtube</label>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success btn-sm">Ajouter</button>
                            <button type="reset" ng-click="reload();" class="btn btn-warning btn-sm pull-right">Reinitialiser</button>
                        </div>
                    </form>
                </div>
            </pane>

            <pane class="admin-section" title="Offres" ng-if="accesLevel >= 0">
                <div class="row">
                    <div class="col-md-3 item-list">
                        <button type="button" ng-click="newOffrePopup()" class="btn btn-primary">Ajouter une offre</button>
                        <ul>
                            <li class="offre-item" ng-repeat="offre in offres" ng-click="activateOffre(offres.indexOf(offre))" ng-class="{active : offres.indexOf(offre) === curOffreIndex}">{{offre.titre}} - {{offre.location}}</li>
                        </ul>
                    </div>
                    <div class="col-md-9 edit-offre">
                        <form ng-submit="editOffre(curOffreIndex)">

                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="Titre" ng-model="offres[curOffreIndex].titre">
                                <label>Titre</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="entreprise" ng-model="offres[curOffreIndex].entreprise" placeholder="entreprise">
                                <label>Entreprise</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="siteEntreprise" ng-model="offres[curOffreIndex].siteEntreprise" placeholder="site web de l'entreprise">
                                <label>Site web de L'entreprise</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="numContact" ng-model="offres[curOffreIndex].numContact" placeholder="Télephone Contact">
                                <label>Téléphone</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="mailContact" ng-model="offres[curOffreIndex].mailContact" placeholder="Mail contact">
                                <label>E-mail</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="categ" ng-model="offres[curOffreIndex].categ" placeholder="catégorie">
                                <label>Catégorie</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="location" ng-model="offres[curOffreIndex].location" placeholder="Ville">
                                <label>Ville</label>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control" name="contract" ng-model="offres[curOffreIndex].contract">
                                    <option value="CDI">CDI</option>
                                    <option value="CDD">CDD</option>
                                </select>
                                <label>Type de Contrat</label>
                            </div>
                            <div class="form-group col-md-8">
                                <textarea class="form-control" name="description" rows="5" ng-model="offres[curOffreIndex].contenu" placeholder="Description"></textarea>
                                <label>Description</label>
                            </div>
                            <input type="button" name="delete" value="Supprimer" ng-click="deleteOffre(curOffreIndex)">
                            <input type="submit" name="name" value="Sauvegarder">
                        </form>
                    </div>
                </div>
            </pane>

            <pane class="admin-section" title="Candidats" ng-if="accesLevel >= 0">
                <div class="row">
                    <div class="col-md-3 item-list">
                        <button type="button" ng-click="newProfilPopup()" class="btn btn-primary col-xs-12">Ajouter un profil</button>
                        <ul>
                            <li class="offre-item" ng-repeat="profil in profils" ng-click="activateProfil(profils.indexOf(profil))" ng-class="{active : profils.indexOf(profil) === curProfilIndex, 'alert-danger' : !profil.cv}">{{profil.nom}} - {{profil.prenom}}</li>
                        </ul>
                    </div>
                    <div class="col-md-9 edit-offre">
                        <form ng-submit="editProfil()">
                            <div class="form-group col-md-6">
                                <label>Nom</label>
                                <input class="form-control" type="text" name="Nom" ng-model="profils[curProfilIndex].nom">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Prenom</label>
                                <input class="form-control" type="text" name="Prenom" ng-model="profils[curProfilIndex].prenom">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ville</label>
                                <input class="form-control" type="text" name="Ville" ng-model="profils[curProfilIndex].ville">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Travail</label>
                                <input class="form-control" type="text" name="Travail" ng-model="profils[curProfilIndex].job">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="accroche">Accroche</label>
                                <textarea class="form-control" name="accroche" ng-model="profils[curProfilIndex].accroche" id="Accroche"></textarea>
                            </div>
                            <div class="form-group col-md-12" ng-class="{'alert alert-danger': !profils[curProfilIndex].cv}">
                                <label for="CV">CV</label>
                                <input type="file" ngf-select ng-model="profils[curProfilIndex].CV" name="CV" accept=".pdf" ngf-max-size="2MB">
                            </div>
                            <input type="button" name="delete" value="Supprimer"class="btn btn-danger btn-sm pull-left" ng-click="deleteProfil()">
                            <input type="submit" name="submit" value="Sauvegarder" class="btn btn-success btn-sm pull-right">
                            <input type="button" name="uploadCV" value="Envoyer le CV" class="btn btn-warning btn-sm pull-right" ng-click="uploadCV()" ng-if="profils[curProfilIndex].CV">
                        </form>
                    </div>
                </div>
            </pane>

            <pane class="admin-section" title="Gestion site" ng-if="accesLevel >= 0">
                <div class="row">
                    <h2>Haut de page</h2>
                    <form class="col-md-6" ng-submit="editLogoSPF()">
                        <h3>Logo secours populaire</h3>
                        <input class="col-md-10" type="file" accept="image/*" image="logoSPF.image"
                        resize-max-height="150"
                        resize-max-width="300"
                        resize-quality="0.7" />
                        <button type="submit" class="btn btn-success btn-sm col-md-2">Valider</button>
                        <div class="col-md-12">
                            <img class="logo" ng-show="logoSPF.image" ng-src="{{logoSPF.image.resized.dataURL || logoSPF.image}}" />
                        </div>
                    </form>
                    <form class="col-md-6" ng-submit="editLogoEntrEmploi()">
                        <h3>Logo EntrEmploi</h3>
                        <input class="col-md-10" type="file" accept="image/*" image="logoEntrEmploi.image"
                        resize-max-height="150"
                        resize-max-width="1000"
                        resize-quality="0.7" />
                        <button type="submit" class="btn btn-success btn-sm  col-md-2">Valider</button>
                        <div class="col-md-12">
                            <img class="logo" ng-show="logoEntrEmploi.image" ng-src="{{logoEntrEmploi.image.resized.dataURL || logoEntrEmploi.image}}" />
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="row">
                    <h2>Gestion du staff</h2>
                    <div class="col-md-3 item-list">
                        <button type="button" ng-click="newUserPopup()" class="btn btn-primary col-xs-12">Ajouter un utilisateur</button>
                        <ul>
                            <li class="offre-item" ng-repeat="user in users" ng-click="activateUser(users.indexOf(user))" ng-class="{active : users.indexOf(user) === curUserIndex}">{{user.nom}} - {{user.prenom}}</li>
                        </ul>
                    </div>
                    <div class="col-md-9 edit-offre">
                        <form ng-submit="editUser(users[curUserIndex])">
                            <div class="form-group col-md-6">
                                <label for="titre">Nom</label>
                                <input class="form-control" ng-model="users[curUserIndex].nom" type="text" id="nom" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="titre">Prenom</label>
                                <input class="form-control" ng-model="users[curUserIndex].prenom" type="text" id="prenom" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="titre">Nouveau mot de passe</label>
                                <input class="form-control" ng-model="users[curUserIndex].newPasswd" type="password" id="newPasswf">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="titre">niveau d'acces</label>
                                <select class="form-control" ng-model="users[curUserIndex].accesLevel" ng-options="accesValues.indexOf(selectedItem) as selectedItem for selectedItem in accesValues" id="accesLevel" required></select>
                            </div>
                            <div class="form-group" ng-if="users[curUserIndex]._id">
                                <button type="submit" title="valider" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                            <div class="form-group" ng-if="users[curUserIndex]._id">
                                <button type="button" title="supprimer" class="btn btn-danger btn-xs pull-right" ng-click="deleteUser(curUserIndex)"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </form>
                    </div>

                </div>
                <hr/>
                <div class="row">
                    <h2>Pied de page</h2>
                    <div class="col-md-4">
                        <h3>Qui sommes nous?</h3>
                        <ul>
                            <li ng-repeat="article in MainArticlesSorted">{{ article.titre }}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Partenaires</h3>
                        <form class="row" ng-repeat="partenaire in Partenaires track by $index" ng-submit="editPartenaire(partenaire)">
                            <div class="form-group">
                                <input class="col-xs-5" ng-model="partenaire.nom" type="text" name="nom">
                            </div>
                            <div class="form-group">
                                <input class="col-xs-5" ng-model="partenaire.site" type="text" name="site">
                            </div>
                            <div class="form-group">
                                <button type="submit" title="valider" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                            <div class="form-group">
                                <button type="button" title="supprimer" class="btn btn-danger btn-xs pull-right" ng-click="deletePartenaire(partenaire._id)"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </form>
                        <div class="row">
                            <button type="button" title="ajouter un partenaire" class="btn btn-success btn-xs col-xs-12" ng-click="PartenairePopup()"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Où nous trouver?</h3>
                        <form class="row" ng-repeat="ligne in addr track by $index" ng-submit="editAddr($index, ligne)">
                            <div class="form-group">
                                <input class="col-md-10" ng-model="ligne" type="text" name="ligne">
                            </div>
                            <div class="form-group">
                                <button type="submit" title="valider" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </pane>

        </tabs>
    </div>
    <div class="filler"></div>
</div>
