<div ng-if="alert" class="jumbotron">

</div>
<br/>
<div class="container">

    <div ng-if="error" class="col-md-10 col-md-offset-1 alert alert-danger">{{ error }}</div>

    <!-- LOGIN FORM -->
    <form class="col-md-10 col-md-offset-1" ng-submit="submit()">
        <div class="form-group col-sm-12">
            <label>Sujet</label>
            <input class="form-control" ng-model="mail.sujet" type="text" name="sujet" placeholder="Sujet">
        </div>
        <div class="form-group col-sm-12">
            <label>Message</label>
            <textarea class="form-control" rows="10" type="text" ng-model="mail.message" name="message"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-sm col-sm-12">Envoyer</button>
    </form>

</div>
<br/>
