<div class="jumbotron text-center">
    <h1>Home Page 4 Life</h1>
    <div class="filler"></div>
    <div class="filler"></div>
    <div id="carousel-temoins" class="carousel slide" data-ride="carousel">
        <!-- Menu -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-temoins" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-temoins" data-slide-to="1"></li>
            <li data-target="#carousel-temoins" data-slide-to="2"></li>
        </ol>
        
        <!-- Items -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="http://lorempixel.com/1500/50/abstract/2" alt="Slide 1" />
            </div>
            <div class="item">
                <img src="http://lorempixel.com/1500/50/abstract/2" alt="Slide 2" />
            </div>
            <div class="item">
                <img src="http://lorempixel.com/1500/50/abstract/3" alt="Slide 3" />
            </div>
        </div> 
        <a href="#carousel-temoins" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel-temoins" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>