<div class="image-carousel">
    <uib-carousel interval="intervalImages" template-url="views/carousel.html">
        <uib-slide ng-repeat="image in images" active="image.active">
            <img ng-src="{{image.link}}">
        </uib-slide>
    </uib-carousel>
</div>
<div class="container-fluid">
    <section class="presentation">
        <div class="container">
            <h2><span>{{ MainArticles[0].titre[0] }}</span> {{ MainArticles[0].titre[1] }}</h2>
            <p ng-bind-html="MainArticles[0].contenu"></p>
        </div>
    </section>
    <section class="liens hidden-xs">
        <ul class="container center-block">
            <li class="don"><a class="btn pill" href="https://www.secourspopulaire.fr/don">Faire un don</a></li>
            <li class="benevole"><a class="btn pill" href="https://www.secourspopulaire.fr/devenir-benevole">Devenir benevole</a></li>
        </ul>
    </section>
    <section class="mission">
        <div class="container">
            <div class="row">
                <h2><span>{{ MainArticles[1].titre[0] }}</span> {{ MainArticles[1].titre[1] }}</h2>
                <div class="col-xs-2">
                    <img class="compteur" src="https://www.secourspopulaire.fr/29/sites/default/files/styles/panoramique/public/sites/default/files/atoms/images/entremploi_spf_29.jpg?itok=WeUTxY0c">
                </div>
                <div class="mission col-xs-10 text-justify">

                    <p ng-bind-html="MainArticles[1].contenu"></p>
                </div>
            </div>
        </div>
    </section>
    <section class="compteur-succes">
        <div class="container center-block">
            <p>
                Depuis le 20 mars 2015, <strong>{{succes}}</strong> personnes ont trouvé du travail grâce à nous.
            </p>
        </div>
    </section>
    <section class="ateliers">
        <div class="container">

            <h2><span>{{ MainArticles[2].titre[0] }}</span> {{ MainArticles[2].titre[1] }}</h2>
            <p ng-bind-html="MainArticles[2].contenu"></p>
        </div>
    </section>

    <section class="temoignages">
        <div class="carousel-temoignages">
            <uib-carousel interval="interval" template-url="views/carousel.html">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <p>{{slide.text}}</p>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>
</div>
