<div class="image-carousel">
    <uib-carousel interval="intervalImages" template-url="views/carousel.html">
        <uib-slide ng-repeat="image in images" active="image.active">
            <img ng-src="{{image.link}}">
        </uib-slide>
    </uib-carousel>
</div>
<div class="container-fluid">
    <section class="presentation">
        <div class="container">
            <h2><span>Notre</span> Association</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
    <section class="liens hidden-xs">
        <ul class="container center-block">
            <li class="don"><a class="btn pill" href="https://www.secourspopulaire.fr/don">Faire un don</a></li>
            <li class="benevole"><a class="btn pill" href="https://www.secourspopulaire.fr/devenir-benevole">Devenir benevole</a></li>
        </ul>
    </section>
    <section class="mission">
        <div class="container">
            <div class="row">
                <h2><span>Notre</span> Mission</h2>
                <div class="col-xs-2">
                    <img class="compteur" src="http://lorempixel.com/100/100/business/">
                </div>
                <div class="mission col-xs-10 text-justify">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="compteur-succes">
        <div class="container center-block">
            <p>
                Depuis le 20 mars 2015, <strong>{{succes}}</strong> personnes ont trouvé du travail grâce à nous.
            </p>
        </div>
    </section>
    <section class="ateliers">
        <div class="container">

            <h2><span>Les</span> Ateliers</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>

    <section class="temoignages">
        <div class="carousel-temoignages">
            <uib-carousel interval="interval" template-url="views/carousel.html">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <p>{{slide.text}}</p>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>
</div>
