<div class="container mentions-legales">
    <section>
        <h2>Mentions légales Entr'Emploi Brest</h2>

        <h3>HÉBERGEMENT DU SITE :</h3>
        <p>
            SAS OVH<br/>
            2, rue Kellermann – Bp 80157 – 59100 Roubaix.<br/>
            http://www.ovh.com<br/>
        </p>

        <h3>CRÉATEURS DU SITE :</h3>
        <p>Jean Milsonneau et Noé Maillard, étudiants à l’ENIB Brest.</p>

        <h3>PROPRIÉTAIRE ET ÉDITEUR DES SERVICES PROPOSÉS SUR CE SITE WEB :</h3>
        <p>
            Fédération du Finistère du Secours populaire français,<br/>
            association régie par la loi du 1er juillet 1901,<br/>
            31, rue Frédéric Chopin<br/>
            29200 Brest<br/>
            Tél. : +33 (0)2 98 44 80 43<br/>
            Responsable de la rédaction : Martine ELIÈS, Secrétaire Générale.<br/>
            La Fédération du Finistère est l’une des fédérations du Secours populaire français, association à but non lucratif régie par la loi de 1901, reconnue d’utilité publique, agréée d’éducation populaire et association éducative complémentaire de l’enseignement public, dont le siège est sis 9-11, rue Froissart, 75140 Paris Cedex 03.<br/>
        </p>

        <h3>UTILISATION SPÉCIFIQUE DANS LE CADRE DE L’EMPLOI (OFFRES ET DEMANDES) :</h3>
        <p>
            Vous comprenez et acceptez qu’Entr’Emploi :<br/>
            <ul>
                <li>a) ne garantisse pas aux chercheurs d’emploi de recevoir, par l’intermédiaire du site, des offres ou des demandes d’emploi ;</li>
                <li>b) ne soit pas responsable des offres ou des propositions d’emploi, des tests de sélection pour le recrutement, des décisions d’embauche et des emplois effectifs présentés par des tiers ;</li>
                <li>c) ne garantisse pas l’exactitude, l’exhaustivité, la validité ou l’actualité des informations diffusées par des tiers ;</li>
                <li>d) ne soit pas responsable d’un produit publié par des tiers, y compris, sans s’y limiter, les offres d’emploi ou les profils des candidats ;</li>
                <li>e) ne soit ni un employeur ni un agent ni une agence d’intérim, à aucun égard.</li>
                <li>Vous devez faire preuve de vos propres jugements, prudence et bon sens dans votre évaluation d’un  employeur ou d’un candidat potentiel, ou de toute information fournie par un tiers.</li>
            </ul>
        </p>

        <h3>COMPTE ET MOT DE PASSE POUR LES RECRUTEURS</h3>
        <p>
            Dans le cadre de votre utilisation du site, vous pouvez, en qualité de recruteur, ouvrir un compte sur le site afin de pouvoir consulter notamment les CV en ligne des chercheurs d’emploi. Dans ce cas, vous recevrez une clef d’accès au compte et un mot de passe initial. Il est de votre seule responsabilité :<br/>
            <ul>
                <li>a) de préserver la confidentialité d’une telle clef d’accès et du mot de passe,</li>
                <li>b) de revoir et de mettre à jour fréquemment votre mot de passe,</li>
                <li>c) et d’informer Entr’Emploi rapidement en cas d’utilisation non autorisée de votre compte ou violation de la sécurité.</li>
            </ul>
        </p>

        <h3>COOKIES</h3>
        <p>
            Ce site est susceptible d'enregistrer des "cookies" sur votre ordinateur. Il s'agit d'informations sur votre visite, consultables par le site si vous revenez le visiter ultérieurement. Ces informations sont de plusieurs types :<br/>
            <ul>
                <li>Cookies enregistrés à des fins d'établissement de statistiques de fréquentation. Leur création, leur enregistrement et leur traitement sont réalisés par les sociétés Médiamétrie-eStat et Google.</li>
                <li>Cookies d'enregistrement de vos préférences d'AddThis (outil de partage de contenu sur les réseaux sociaux).</li>
                <li>Cookies de session.</li>
                <li>Cookies de suivi de votre navigation, pour faciliter votre navigation ou identifier votre provenance (lien partenaire, newsletter,...) lors de certaines actions (don en ligne).</li>
                <li>Il vous est possible de refuser l'enregistrement de telles informations en vous rendant dans les options (ou préférences) de votre navigateur internet, et en désactivant les cookies.</li>
            </ul>
        </p>

        <h3>TRAITEMENT DES DONNÉES NOMINATIVES</h3>
        <p>
            Conformément à la loi informatique et libertés du 6 janvier 1978, vous disposez d’un droit d’accès aux données personnelles vous concernant, et d’un droit de suppression et de rectification desdites données, en vous adressant à notre adresse mél : emploi@spf29.org<br/>
        </p>

        <h3>LIMITATION DE RESPONSABILITÉ</h3>
        <p>
            Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager en aucune manière la responsabilité d’Entr’Emploi, et/ou de la Fédération du Finistère du Secours populaire français, et/ou du Secours populaire français, qui ne peuvent être tenus pour responsable des informations ou du contenu figurant sur lesdits sites liés. Vous êtes seul responsable de votre accès aux liens.<br/>
            En outre, la création de liens hypertextes vers le présent site est interdite, sauf autorisation expresse préalable et écrite de la Fédération du Finistère du Secours populaire français.<br/>
        </p>
    </section>
</div>
