<div>
    <div class="container-fluid">
        <div class="hero">
            <div class="bg-shadow"></div>
            <h1 class="accroche">Trouvez votre avenir</h1>
        </div>
        <div class="clearfix"></div>
        <div class="parallaxe" id="offres">
            <div class="container">
                <h1 class="text-center">Découvrez nos offres</h1>
                <div class="offre">
                    <a class="intitutle h3">Ouvrier Macon truc</a>
                    <ul>
                        <li>
                            <p class="ville"><i class="fa fa-map-marker"></i>Brest</p>
                        </li>
                        <li>
                            <p class="categorie"><i class="fa fa-sitemap"></i>Construction</p>
                        </li>
                        <li>
                            <p class="type">CDD</p>
                        </li>
                    </ul>
                </div>
                <div class="offre">
                    <a class="intitutle h3">Ouvrier Macon machin</a>
                    <ul>
                        <li>
                            <p class="ville"><i class="fa fa-map-marker"></i>Qimp</p>
                        </li>
                        <li>
                            <p class="categorie"><i class="fa fa-sitemap"></i>Marketing</p>
                        </li>
                        <li>
                            <p class="type">CDI</p>
                        </li>
                    </ul>
                </div>
                <div class="filler"></div>
            </div>


        </div>
        
    </div>
</div>
