<div class="container-fluid">
    <div class="jumbotron hero">
        <div class="bg-shadow"></div>
    </div>
    <div class="clearfix"></div>
    <div class="container offres-body">
        <h1 class="text-center">Découvrez nos offres</h1>
        <div class="offre">
            <a class="intitutle h3">Ouvrier Macon truc</a>
            <p>Illud tamen te esse admonitum volo, primum ut qualis es talem te esse omnes existiment ut, quantum a rerum turpitudine abes, tantum te a verborum libertate seiungas; deinde ut ea in alterum ne dicas, quae cum tibi falso responsa sint, erubescas. Quis est enim, cui via ista non pateat, qui isti aetati atque etiam isti dignitati non possit quam velit petulanter, etiamsi sine ulla suspicione, at non sine argumento male dicere? Sed istarum partium culpa est eorum, qui te agere voluerunt; laus pudoris tui, quod ea te invitum dicere videbamus, ingenii, quod ornate politeque dixisti.</p>
            <ul>
                <li>
                    <p class="ville"><i class="fa fa-map-marker"></i>Brest</p>
                </li>
                <li>
                    <p class="categorie"><i class="fa fa-sitemap"></i>Construction</p>
                </li>
                <li>
                    <p class="type">CDD</p>
                </li>
            </ul>
        </div>
        <div class="offre">
            <a class="intitutle h3">Ouvrier Macon machin</a>
            <p>Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, exploratius causam Maximino spectante, convictus codicem noxiarum artium nondum per aetatem firmato consilio descripsisse, exulque mittendus, ut sperabatur, patris inpulsu provocavit ad principem, et iussus ad eius comitatum duci, de fumo, ut aiunt, in flammam traditus Phalangio Baeticae consulari cecidit funesti carnificis manu.</p>
            <ul>
                <li>
                    <p class="ville"><i class="fa fa-map-marker"></i>Qimp</p>
                </li>
                <li>
                    <p class="categorie"><i class="fa fa-sitemap"></i>Marketing</p>
                </li>
                <li>
                    <p class="type">CDI</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="filler"></div>
