<div class="container-fluid">
    <div class="jumbotron hero">
        <div class="bg-shadow"></div>
    </div>
    <div class="clearfix"></div>
    <div class="container offres-body">
        <h1 class="text-center">Découvrez nos offres</h1>
        <ul ng-repeat="offre in offres">
            <li>
                <div class="offre">
                    <h3 class="intitle h3">{{offre.titre}}</h3>
                    <p>{{offre.contenu}}</p>
                    <ul>
                        <li>
                            <p class="ville"><i class="fa fa-map-marker"></i>{{offre.location}}</p>
                        </li>
                        <li>
                            <p class="categorie"><i class="fa fa-sitemap"></i>{{offre.categ}}</p>
                        </li>
                        <li>
                            <p class="type">{{offre.contract}}</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>>
    </div>
</div>
<div class="filler"></div>
