<div class="container">
    <div class="row">
        <button type="button" ng-click="delete()" class="btn btn-danger btn-sm">Supprimer mon compte</button>
        <button type="button" ng-click="deactivate()" class="btn btn-danger btn-sm">Desactiver mon compte</button>
        <button type="button" ng-click="logout()" class="btn btn-danger btn-sm pull-right">Deconnexion</button>
    </div>
    <div class="row">
        <div ng-if="EPalert && !EPsuccess" class="alert alert-danger">{{ EPalert }}</div>
        <div ng-if="EPsuccess && !EPalert" class="alert alert-success">{{ EPsuccess }}</div>
        <form ng-submit="editUser()">
            <div class="form-group col-md-6">
                <label for="nom">Nom</label>
                <input class="form-control" ng-model="user.nom" type="text" id="nom">
            </div>
            <div class="form-group col-md-6">
                <label for="prenom">Prenom</label>
                <input class="form-control" ng-model="user.prenom" type="text" id="prenom">
            </div>

            <div class="form-group col-md-6">
                <label for="tel">Tel</label>
                <input class="form-control" ng-model="user.tel" type="text" id="tel">
            </div>
            <div class="form-group col-md-6">
                <label for="mail">Mail</label>
                <input class="form-control" ng-model="user.mail" type="text" id="mail">
            </div>

            <div class="form-group col-md-6">
                <label for="adresse">Adresse</label>
                <input class="form-control" ng-model="user.adresse" type="text" id="adresse">
            </div>
            <div class="form-group col-md-6">
                <label for="compAdresse">CompAdresse</label>
                <input class="form-control" ng-model="user.compAdresse" type="text" id="compAdresse">
            </div>

            <div class="form-group col-md-6">
                <label for="ville">Ville</label>
                <input class="form-control" ng-model="user.ville" type="text" id="ville">
            </div>
            <div class="form-group col-md-6">
                <label for="codePostal">CodePostal</label>
                <input class="form-control" ng-model="user.codePostal" type="text" id="codePostal">
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success btn-sm pull-right">Valider les changements</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div ng-if="CPalert && !CPsuccess" class="alert alert-danger">{{ CPalert }}</div>
        <div ng-if="CPsuccess && !CPalert" class="alert alert-success">{{ CPsuccess }}</div>
        <form ng-submit="changePasswd()">
            <div class="form-group col-md-6">
                <label for="newPasswd">Nouveau mot de passe</label>
                <input class="form-control" ng-model="user.newPasswd" type="password" id="newPasswd">
            </div>
            <div class="form-group col-md-6">
                <label for="confPasswd">Confirmez nouveau mot de passe</label>
                <input class="form-control" ng-model="user.confPasswd" type="password" id="confPasswd">
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success btn-sm pull-right">Changer le mot de passe</button>
            </div>
        </form>
    </div>
</div>
