<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Vous recrutez? consultez nos profils!</h1>
        <p>
            Vous êtes employeur et voulez participer a notre action en nous transmettant vos offres d'emplois
            <a class="btn btn-primary btn-lg contact-btn text-center" role="button" href="/contact">contacez nous</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" ng-repeat="profil in profils" ng-if="profil.cv">
            <h1 class="nom">{{ profil.nom }} {{ profil.prenom }}</h1>
            <p class="infos"> <i class="fa fa-map-marker"></i>
                {{ profil.ville }} <i class="fa fa-sitemap"></i>
                {{ profil.job }}
            </p>
            <p>
                {{ profil.accroche }}
            </p>
            <a class="CVLink btn btn-default btn-sm" ng-click="openCV(profil._id)">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="/contact">contact</a>
        </div>
    </div>
</div>
<div class="filler"></div>
