<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Vous recrutez? consultez nos profils!</h1>
        <p>
            Vous êtes employeur et voulez participer a notre action en nous transmettant vos offres d'emplois
            <a class="btn btn-primary btn-lg contact-btn text-center" role="button" href="/contact">contacez nous</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <form>
            <div class="form-group col-md-6">
                <label for="ville">Ville</label>
                <select class="form-control" ng-model="filtre.ville"
                                             ng-options="filtre.villeList.indexOf(selectedVille) as selectedVille for selectedVille in filtre.villeList" id="ville"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="job">métier</label>
                <select class="form-control" ng-model="filtre.job"
                                             ng-options="filtre.jobList.indexOf(selectedJob) as selectedJob for selectedJob in filtre.jobList" id="job"></select>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6" ng-repeat="profil in profils" ng-if="showProfil(profil)">
            <h1 class="nom">{{ profil.nom }} {{ profil.prenom }}</h1>
            <p class="infos"> <i class="fa fa-map-marker"></i>
                {{ profil.ville }} <i class="fa fa-sitemap"></i>
                {{ profil.job }}
            </p>
            <p>
                {{ profil.accroche }}
            </p>
            <a class="CVLink btn btn-default btn-sm" ng-click="openCV(profil._id)">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="/contact">contact</a>
        </div>
    </div>
</div>
<div class="filler"></div>
