<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Vous recrutez? consultez nos profils!</h1>
        <p>
            Vous êtes employeur et voulez participer a notre action en nous transmettant vos offres d'emplois
            <a class="btn btn-primary btn-lg contact-btn text-center" role="button" href="#">contacez nous</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="nom">Michou dupont</h1>
            <p class="infos"> <i class="fa fa-map-marker"></i>
                Ville <i class="fa fa-sitemap"></i>
                Jardinier
            </p>
            <p>
                Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? cum praesertim illa perdiscere ludus esset. Quam ob rem dissentientium inter se reprehensiones non sunt vituperandae, maledicta, contumeliae, tum iracundiae, contentiones concertationesque in disputando pertinaces indignae philosophia mihi videri solent.
            </p>
            <a class="CVLink btn btn-default btn-sm" href="#">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="#">contact</a>
        </div>

        <div class="col-md-6">
            <h1 class="nom">Allain Challes</h1>
            <p class="infos">
                <i class="fa fa-map-marker"></i>
                Ville
                <i class="fa fa-sitemap"></i>
                Jardinier
            </p>
            <p>
                Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.
            </p>
            <a class="CVLink btn btn-default btn-sm" href="#">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="#">contact</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <h1 class="nom">Patoche la brioche</h1>
            <p class="infos">
                <i class="fa fa-map-marker"></i>
                Ville
                <i class="fa fa-sitemap"></i>
                Jardinier
            </p>
            <p>
                Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.
            </p>
            <a class="CVLink btn btn-default btn-sm" href="#">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="#">contact</a>
        </div>

        <div class="col-md-6">
            <h1 class="nom">Hesher</h1>
            <p class="infos">
                <i class="fa fa-map-marker"></i>
                Ville
                <i class="fa fa-sitemap"></i>
                Jardinier
            </p>
            <p>
                Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum.
            </p>
            <a class="CVLink btn btn-default btn-sm" href="#">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="#">contact</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <h1 class="nom">Martin Dupont</h1>
            <p class="infos">
                <i class="fa fa-map-marker"></i>
                Ville
                <i class="fa fa-sitemap"></i>
                Jardinier
            </p>
            <p>
                Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis Parthicarum gentium a arma minantium impetus frangerentur.
            </p>
            <a class="CVLink btn btn-default btn-sm" href="#">CV</a>
            <a class="mailCandidat btn btn-default btn-sm" href="#">contact</a>
        </div>
    </div>
</div>
<div class="filler"></div>