<div class="jumbotron text-center">
  <h1 class="text-center">Découvrez notre équipe</h1>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <h3>Machin truc</h3>
      <p class="photo"><img src="/images/staff/patate.jpeg"></img></p>
      <p class="role">Cum documentis congressione tramitibus cum.</p>
    </div>
    <div class="col-md-4">
      <h3>Machin truc</h3>
      <p class="photo"><img src="/images/staff/patate.jpeg"></img></p>
      <p class="role">Invia gressus: prona nec nostri.</p>
    </div>
    <div class="col-md-4">
      <h3>Machin truc</h3>
      <p class="photo"><img src="/images/staff/patate.jpeg"></img></p>
      <p class="role">Ad principum docens efferatus lateret.</p>
    </div>
    <div class="col-md-4">
      <h3>Machin truc</h3>
      <p class="photo"><img src="/images/staff/patate.jpeg"></img></p>
      <p class="role">Monstranda quoniam nusquam Romae alias.</p>
    </div>
    <div class="col-md-4">
      <h3>Machin truc</h3>
      <p class="photo"><img src="/images/staff/patate.jpeg"></img></p>
      <p class="role">Congeratur quae quam amicitia quam.</p>
    </div>
  </div>
</div>
<div class="filler"></div>
