/* Rounded Corners 
----------------------------------------------------------------------------- */
/* Opacity 
----------------------------------------------------------------------------- */
/* Background RGBA 
----------------------------------------------------------------------------- */
/* Box Shadow 
----------------------------------------------------------------------------- */
/* Gradients 
----------------------------------------------------------------------------- */
/* Transition 
----------------------------------------------------------------------------- */
/* Animations 
----------------------------------------------------------------------------- */
/* Font Face 
----------------------------------------------------------------------------- */
* {
  font-family: 'Copse', serif;
  font-family: 'Roboto', sans-serif;
}
.navbar-inverse {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #244395;
}
.navbar-inverse .container {
  height: 120px;
}
.navbar-inverse .navbar-brand {
  position: absolute;
  box-sizing: padding-box;
  width: 108px;
  height: 90%;
  margin-top: 6px;
  margin-right: 10px;
  color: #fff;
  border-radius: 50%;
  background: #fff url('../images/Logo-spf.png') 0 0 no-repeat;
  background-size: 100%;
}
.navbar-inverse .navbar-brand:hover {
  background-color: #fff;
}
.navbar-inverse .nav {
  height: 100%;
}
.navbar-inverse .nav li a {
  line-height: 90px;
  color: #fff;
}
.navbar-inverse .nav li a:hover {
  background-color: #1a316c;
}
.container-fluid .jumbotron {
  margin: 0;
  border-radius: 0;
}
.container-fluid .container {
  background-color: #fafafa;
}
.container-fluid {
  margin: 0;
  border-radius: 0;
}
.offre {
  position: relative;
  border: 1px solid  #fff;
}
.offre h1 {
  font-family: 'Copse', serif;
}
.offre .date {
  font-size: .8em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
.offre .description-offre {
  font-size: 1.2em;
  text-align: justify;
}
.panel-footer {
  color: #fff;
  background-color: #414040;
}
