<div class="container">
    <h2>{{ users[curUserIndex].nom }} {{ users[curUserIndex].prenom }}</h2>
    <div class="row"><label>Tel: </label> {{ users[curUserIndex].tel }}</div>
    <div class="row"><label>Mail: </label> {{ users[curUserIndex].mail }}</div>
    <div class="row"><label>Adresse: </label> {{ users[curUserIndex].adresse }}</div>
    <div class="row"><label>compAdresse: </label> {{ users[curUserIndex].compAdresse }}</div>
    <div class="row"><label>Ville: </label> {{ users[curUserIndex].ville }}</div>
    <div class="row"><label>Code postal: </label> {{ users[curUserIndex].codePostal }}</div>
</div>
