<div class="loginEntreprise">
    <div class="row">
        Pour acceder au cv veuillez entrer et confirmer votre adresse mail:
    </div>
    <div class="row">
        <form ng-submit="loginEntreprise()">
            <div class="form-group">
                <label for="mail">Adresse mail</label>
                <input class="form-control" type="text" id="mail" required>
                <button type="submit" class="btn btn-success btn-sm col-md-12">Connexion</button>
            </div>
        </form>
    </div>
    <div class="row">
        Un mail contenant un lien vous serat envoyé, il vous suffirat de cliquer dessus por etre connecté
    </div>
</div>
