<div class="contatiner" style="height: 530px;">
    <h2>Ajouter un candidat</h2>
    <form ng-submit="addProfil() && closeThisDialog()">
        <div class="form-group">
            <label for="titre">Nom</label>
            <input class="form-control" ng-model="newProfil.nom" type="text" id="nom">
        </div>
        <div class="form-group">
            <label for="titre">Prenom</label>
            <input class="form-control" ng-model="newProfil.prenom" type="text" id="prenom" required>
        </div>
        <div class="form-group">
            <label for="ville">Ville</label>
            <input class="form-control" ng-model="newProfil.ville" type="text" id="ville">
        </div>
        <div class="form-group">
            <label for="travail">Travail</label>
            <input class="form-control" ng-model="newProfil.job" type="text" id="travail" required>
        </div>
        <div class="form-group">
            <label for="accroche">Accroche</label>
            <textarea class="form-control" name="accroche" ng-model="newProfil.accroche" id="Accroche" required></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-sm col-xs-12" type="submit" name="name" value="Ajouter">Ajouter</input>
        </div>
    </form>
</div>
