<div class="contatiner" style="height: 666px;">
    <h2>Creer Une nouvelle Prestation</h2>
    <form ng-submit="addPrestation(newPrestation) && closeThisDialog()">

        <div class="form-group col-md-12">
            <label>Titre</label>
            <input class="form-control" type="text" name="Titre" ng-model="newPrestation.titre">
        </div>

        <div class="form-group col-md-12">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="5" ng-model="newPrestation.description" placeholder="Description"></textarea>
        </div>

        <div class="form-group col-md-12">
            <label>Nombre d'inscrits minimum</label>
            <input type="number" class="form-control" name="maxInscrits" ng-model="newPrestation.maxInscrits"></textarea>
        </div>

        <div class="form-group col-md-12">
            <label>Message de confirmation d'inscritpion</label>
            <textarea class="form-control" name="messageConfirmation" rows="5" ng-model="newPrestation.messageConfirmation" placeholder="message de Confirmation"></textarea>
        </div>

        <button class="btn btn-success btn-sm col-xs-12" type="submit" name="name" value="Ajouter">Ajouter</input>
    </form>
</div>
