<div class="contatiner">
    <h2>Ajouter un utilisateur</h2>
    <form ng-submit="addUser() && closeThisDialog()">
        <div class="form-group">
            <label for="titre">Nom</label>
            <input class="form-control" ng-model="newUser.nom" type="text" id="nom" required>
        </div>
        <div class="form-group">
            <label for="titre">Prenom</label>
            <input class="form-control" ng-model="newUser.prenom" type="text" id="prenom" required>
        </div>
        <div class="form-group">
            <label for="titre">Mot de passe</label>
            <input class="form-control" ng-model="newUser.passwd" type="password" id="newPasswf">
        </div>
        <div class="form-group">
            <label for="titre">niveau d'acces</label>
            <select class="form-control" ng-model="newUser.accesLevel" ng-options="accesValues.indexOf(selectedItem) as selectedItem for selectedItem in accesValues" id="accesLevel" required></select>
        </div>
        <div class="form-group">
            <input type="submit" name="name" value="Ajouter">
        </div>
    </form>
</div>
