@import 'mixins.less';

// ================ VARIABLES

@blue : #244395;
@red : #ff1719;

// ================ HEADER


* {
    font-family: 'Copse', serif;
    font-family: 'Roboto', sans-serif;
}


.navbar-inverse {
    position: fixed;
    z-index: 999;
    top: 0;

    width: 100%;
    height: 90px;
    margin: 0;

    border: none;
    border-radius: 0;
    background-color: @blue;
    .container, .container-fluid {
        position: relative;

        height: 100%;

        opacity: .9;
        .navbar-brand {
            position: absolute;
            top: 50%;

            transform: translate3d(0, -50%, 0);

            color: #fff;
        }
        .nav {
            position: absolute;
            top: 50%;
            right: 0;

            transform: translate3d(0, -50%, 0);
            li {
                a {
                    line-height: 10px;

                    color: #fff;
                    &:hover {
                        transition: border-radius .1s;
                        transition: background-color .3s;

                        border-radius: 6px;
                        background-color: darken(@blue, 10%);
                    }
                }
            }
        }
    }
}


// ================ GLOBAL

.container-fluid {
    height: auto;
    margin: 0;
    padding: 0;

    border-radius: 0;
}


.header-spacer {
    transform: translateY(90px);
}

.filler {
    height: 500px;
}



// ================= FOOTER

.page-footer {

    margin: 0;

    color: #fff;
    background: #414040;
}
.page-footer .container{
    color: #fff;
    background: url("/images/footer-logo-spf.png") no-repeat scroll left top / 20% auto;
    min-height: 25em;
    padding-bottom: 2em;
}
.page-footer .infos{
    height: 300px;
}
.page-footer .credits{
    padding-top: 10px;
}
.page-footer ul{
    list-style: outside none none;
}
