@import 'mixins.less';

// ================ VARIABLES

@navbar-bgc : #244395;
@content-bgc : #ff1719;

// ================ HEADER

* {
    font-family: 'Copse', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse {

    margin: 0;

    border: none;
    border-radius: 0;
    background-color: @navbar-bgc;
    .container {
        height: 120px;
    }
    .navbar-brand {
        position: absolute;

        box-sizing: padding-box;
        width: 120 * .9px;
        height: 90%;
        margin-top: 120 * .05px;
        margin-right: 10px;

        color: #fff;
        border-radius: 50%;
        background: #fff url('../images/Logo-spf.png') 0 0 no-repeat;
        background-size: 100%;
        &:hover {
            background-color: #fff;
        }
    }
    .nav {
        height: 100%;
        li {
            a {
                line-height: 90px;

                color: #fff;
                &:hover {
                    background-color: darken(@navbar-bgc, 10%);
                }
            }
        }
    }
}


// ================ GLOBAL

.container-fluid .jumbotron {
    border-radius: 0;
    background: none;
}

.container-fluid {
    margin: 0;
    border-radius: 0;
}



// ================ OFFRES
// ================ BENEVOLES
// ================ HOME
// 

.offre {
    position: relative;

    border: 1px solid  #fff;
    h1 {
        font-family: 'Copse', serif;
    }
    .date {
        font-size: .8em;
        font-weight: bold;

        position: absolute;
        top: 0;
        right: 0;
    }
    .description-offre {
        font-size: 1.2em;
        text-align: justify;
    }
}

// ================= FOOTER


.panel-footer {
    background-color: #414040;
    color: #FFF;
}
